@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap")

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-text-color: #264653;
    --secondary-text-color: #2A9D8F;
    --accent-color: #E9C46A;
    --accent-color-dark: #E76F51;

}

body{
    font-family: "Poppins", sans-serif;
    color:black;
}

p{
    font-family: "Roboto", sans-serif;
    color: black;
    line-height: 1.4rem;

}

ul{
    list-style: none;
}

.container{                         
   max-width: 1200px;
   margin-inline: auto;
   overflow:hidden;

}

.flex{
    display: flex;
    align-items:center;
    justify-content:center;
}

nav{
    background-color: #1F2937;
    font-size:larger;
    position: fixed;
    left:0;
    right: 0;
    top: 0;
    z-index: 99;
    color: lightgray;


}

.main-nav{
    justify-content: space-between;
}

ul{
    display: flex;
    align-items: center;
    gap: 16px;
}

.hover-link{
    cursor: pointer;
}

.hover-link:hover{
    color: #F59E0B;
}
.hover-link:active{
color: #F59E0B;
}

.nav-item.active {
     color: var(--accent-color);
}

.search-bar{
    height: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
}

.search-text{
    border-radius: 10px;
}

main{
    
    margin-top: 80px;
    background-color:lightgrey;


}

.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap:24px;
    justify-content: center;
    padding: 3ch;
}




.card{
    width: 360px;
    cursor: pointer;
    padding: 2ch;
    border-radius: 20px;
   

}

.card-header img{
    width: 360px;
    border-radius: 10px;
}

.card:hover {
  box-shadow: 1px 2px 8px black;
  transform: translateY(-1px);
}

#logo{
    height: 75px;
    border-radius: 10px;
}

